main{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 3em 0;
    width: 98vw;
    height: fit-content ;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.show0{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
}

.show1{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
}

article{
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 2px solid cornflowerblue;
    border-radius: 0.3em;
    padding: 0.5em;
}
.categoryBTN{
    background: none;
    padding: 0.5em;
    color: white;
    border: 2px solid cornflowerblue;
    border-radius: 0.3em;
    box-shadow: inset 0 0 20px 9px rgba(100,149,237,0.4);
    transition: 800ms;
    min-width: 300px;
    max-width: 350px;
}
.categoryBTN:hover{
    color: lightgreen;
    border: 2px solid lightgreen;
    border-radius: 0.3em;
    box-shadow: inset 0 0 20px 9px rgba(144,238,144,0.4);
}
.addBTN{
    background: none;
    padding: 0.5em;
    color: white;
    border: 2px solid orange;
    border-radius: 0.3em;
    box-shadow: inset 0 0 20px 9px rgba(100,149,237,0.4);
    transition: 800ms;
    min-width: 300px;
    max-width: 33px;
}
.addBTN:hover{
    color: lightgreen;
    border: 2px solid lightgreen;
    border-radius: 0.3em;
    box-shadow: inset 0 0 20px 9px rgba(144,238,144,0.4);
}
.removeBTN{
    background: none;
    padding: 0.5em;
    color: lightgreen;
    border: 2px solid lightgreen;
    border-radius: 0.3em;
    box-shadow: inset 0 0 20px 9px rgba(144,238,144,0.4);
    transition: 800ms;
}
.navBTN{
    background: none;
    padding: 0.5em;
    color: cornflowerblue;
    border: 2px solid cornflowerblue;
    border-radius: 0.3em;
    box-shadow: inset 0 0 20px 9px rgba(100,149,237,0.4);
    transition: 800ms;
}

.btnArea{
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    gap: 2em;
}


