.bm-burger-button {

    position: fixed;
    width: 1.5em;
    height: 1.5em;
    left: 1em;
    top: 1em;
}

.bm-burger-bars {
    background: #282c34;

}

.bm-burger-bars-hover {
    background: indianred;
}

.bm-cross-button {
    width: 2em ;

}
.bm-cross {
    background: indianred;
    border: 2px solid indianred;

}


.bm-menu-wrap {
    position: fixed;
    left: 0;
    height: 10%;
}

.bm-menu {
    background: rgba(0,0,0,0);
    font-size: 1.15em;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    background: #373a47;
    padding: 0.8em;
    width: 12em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.bm-overlay {
    display: none;
}

.bm-item {
    display: inline-block;
    color: cornflowerblue;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.5s;
}

.bm-item:hover {
    color: lightgreen;
}

#logout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: indianred;
}
