img{
    width: 3em;
}

.evaCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 379px;
    max-width: 381px;
    height: 600px;
    border: 2px solid blue;
    border-radius: 0.5em;
    background-color: white;
    color: #282c34;
    margin: 1em;
    overflow-y: scroll;
}

