.evaUserAreaMain{

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 3em auto;
    width: 98vw;
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;

}
